.menu-container {
  display: flex;

  .menu-category {
    position: relative;
    display: flex;
    margin: 10px 0;

    &:not(:last-child) { 
      border-right: 1px solid rgb(218, 220, 224);
    }

    #file-upload {
      display: none;
    }

    .menu-button, .menu-toogle-button {
      cursor: pointer;
      padding: 0 10px;
      fill: rgba(44, 62, 80, 1);
    }
  }
}