@import 'colors';

.mio-menu {
  display: flex;
  position: absolute;
  border-radius: 10px;
  background: $black;
}

.mio-menu-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $black;
}