@import 'colors';

.mio-side-menu{
  display: flex;
  padding: 10px;

  .mio-side-menu-plus-button {
    img {
      cursor: pointer;
      height: 40px;
      width: 40px;
      padding: 10px;
    }
  
    img:hover{
      -webkit-animation:spin 0.5s linear forwards;
      -moz-animation:spin 0.5s linear forwards;
      animation:spin 0.5s linear forwards;
    }
  }

  .mio-side-menu-item {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: $black;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 10px;

    img {
      cursor: pointer;
      height: 18px;
      width: 18px;
    }
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(45deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(45deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(45deg); transform:rotate(45deg); } }